.card {
  background-color: var(--color-card);
  border-radius: 3rem;
  padding: 3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 480px) {
  .card {
    padding: 1.5rem;
    border-radius: 1.5rem;
  }
}
